################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FileHelper/.vs/FileHelper/v16
/FileHelper/FileHelper/Debug
*.vcxproj
*.filters
*.user
